* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  background-color: lightgray;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

nav {
  max-width: 980px;
  height: 85px;
  margin: 0 auto;
  border-bottom: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  z-index: 99;
}
nav .logo {
  width: 92px;
  height: 42px;
  background-color: aqua;
}
nav .links a {
  color: white;
  text-decoration: none;
}
nav .links span {
  color: white;
  margin: 0 20px;
}

.banner {
  width: 1280px;
  height: 200px;
  background-image: url(../images/box3.jpeg);
  background-position: center;
  background-repeat: none;
  background-size: cover;
  margin: -80px auto 0 auto;
}

.form-content {
  width: 30px;
  background-color: aqua;
  min-height: 50px;
}