$center: 


// this area is for widths and heights big lol
$site-width: 980px;
$banner-footer-width: 1280px;
$banner-height: 500px;
$footer-width: 500px;
$footer-height: 100px;

// this is for site colors
$site-blue: #79addc;
$site-white: white;
$site-black: black;

// this area is for buttons
